<!DOCTYPE html>
<html>

<head>

    <title>Employee Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

    <h2>HBL HR Token System</h2>

    <div class="nav-right">

        <span id="navClock"></span>

        <a href="{{ url_for('logout') }}">
            Logout
        </a>

    </div>

</div>


<div class="container">

    <div class="welcome-card">

        <h1>
            Welcome {{ employee["employee_name"] }} 👋
        </h1>

        <p>
            Employee ID:
            <strong>
                {{ employee["employee_id"] }}
            </strong>
        </p>

        <p>
            Department:
            <strong>
                {{ employee["department"] }}
            </strong>
        </p>

    </div>


    <h2 class="section-title">
        Token Management
    </h2>


    <div class="card-grid">


        <a href="{{ url_for(
            'token_page',
            token_type='lunch'
        ) }}"
           class="token-card lunch">

            <div class="icon">
                🍱
            </div>

            <h2>Lunch</h2>

            <p>Lunch Count</p>

            <span>
                {{ employee["lunch_count"] }}
            </span>

        </a>


        <a href="{{ url_for(
            'token_page',
            token_type='tiffen'
        ) }}"
           class="token-card tiffen">

            <div class="icon">
                🍛
            </div>

            <h2>Tiffen</h2>

            <p>Tiffen Count</p>

            <span>
                {{ employee["tiffen_count"] }}
            </span>

        </a>


        <a href="{{ url_for(
            'token_page',
            token_type='tea'
        ) }}"
           class="token-card tea">

            <div class="icon">
                ☕
            </div>

            <h2>Tea</h2>

            <p>Tea Count</p>

            <span>
                {{ employee["tea_count"] }}
            </span>

        </a>


    </div>


    <div class="back-area">

        <a href="{{ url_for('logout') }}"
           class="btn back-btn">
            Logout
        </a>

    </div>

</div>

</body>
</html>